.weather {
  min-height: fit-content;
  background-color: #fdf9f3;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: #333333;
}

p {
  margin: 0;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("https://crossorigin.me/http://eina.ca/weather/assets/img/load.gif") center no-repeat #fff;
}

.wrapper {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  padding: 2.1276595745%;
  border-top: 5px solid #38d39f;
  
}
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

.wrapper header:after {
  content: " ";
  display: block;
  clear: both;
}

.unit-toggle {
  float: right;
}
.unit-toggle button:enabled {
  opacity: 0.5;
  font-weight: 500;
}
.unit-toggle button:disabled {
  color: #38d39f;
  font-size: 1.2em;
  font-weight: 700;
  opacity: 1;
}

.forecast {
  text-align: center;
  border-bottom: 1px solid #AFA5D9;
}

.forecast_icon {
  padding: 3.8936170213% 0 3.5744680851%;
  font-size: 4em;
}

.forecast_summary, .forecast_city, .forecast_country {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.forecast_city {
  padding-top: 2.3829787234%;
  font-weight: 700;
}

.forecast_summary {
  font-size: 1.3em;
}

.forecast_cont {
  padding: 2.1276595745% 0 2.3829787234%;
}

.forecast_temp {
  display: block;
  padding-bottom: 6.3829787234%;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.1;
}

.forecast_high, .forecast_low {
  display: inline-block;
  padding: 0 1.0638297872%;
  font-family: "Montserrat", sans-serif;
}

.forecast_low, .day_low,
.day .wi-direction-down {
  color: #2b8a7f;
}

.forecast_high, .day_high,
.day .wi-direction-up {
  color: #f95a43;
}

.weekly ul {
  list-style-type: none;
  padding: 0 2.1276595745%;
}
@media (min-width: 810px) {
  .weekly ul {
    padding: 0 4.2553191489%;
  }
}

.day {
  display: block;
  padding: 1.0638297872%;
  border-bottom: 1px solid #dedddd;
}
@media (min-width: 810px) {
  .day {
    padding: 2.1276595745%;
  }
}
.day:last-of-type {
  border: none;
}

.day_name {
  display: inline-block;
  min-width: 31.914893617%;
  margin-left: 2.1276595745%;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  vertical-align: 17%;
  opacity: 0.8;
}
@media (min-width: 810px) {
  .day_name {
    padding: 2.1276595745%;
  }
}

.day_icon {
  width: 25.5319148936%;
  padding: 4.2553191489%;
  font-size: 2em;
}
@media (min-width: 480px) {
  .day_icon {
    width: 34.0425531915%;
  }
}
@media (min-width: 640px) {
  .day_icon {
    width: 17.0212765957%;
  }
}
@media (min-width: 810px) {
  .day_icon {
    display: inline-block;
    width: 6.3829787234%;
    padding: 0;
  }
}

.day_cond {
  display: none;
}
@media (min-width: 640px) {
  .day_cond {
    display: inline-block;
    width: 23.4042553191%;
    margin-left: 6.3829787234%;
    font-size: 90%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    vertical-align: 17%;
  }
}
@media (min-width: 810px) {
  .day_cond {
    width: 31.914893617%;
    margin-left: 6.3829787234%;
    margin-right: 4.2553191489%;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    vertical-align: 17%;
  }
}

.day_high, .day_low {
  font-family: "Montserrat", sans-serif;
  vertical-align: 17%;
}

.day .wi-direction-up,
.day .wi-direction-down {
  vertical-align: 10%;
  padding-left: 1.5em;
}
@media (min-width: 810px) {
  .day .wi-direction-up,
  .day .wi-direction-down {
    padding-left: 2.1276595745%;
  }
}
